<div class="container" role="main">
    
    <div class="log-container">
        <io-linear-history></io-linear-history>
    </div>

    <div class="content-ex2">
        <h1>Text Area</h1>
    
        <p>
            In this exercise, you will be using Interacto to create a text area and its corresponding ioTextarea interaction. <br>
            The command will be a command that changes the text of the text area (undoable). <br>
            You will also need to implement an undo and redo functionality like in the previous exercise. <br>
            The text interaction stops only when the user makes a pause greater than 1s (timeout customisable).<br>
            On each key type, the interaction updates so that the command must be updated using <code>then</code>.<br>
            If you need help, refer to <a href="https://github.com/interacto/example-angular/tree/master/src/app/tab-text"> this example</a> .</p>
    
        <h3>Example:</h3>
    
        <textarea [ioTextarea]="binderText" rows="16" cols="90"></textarea>

        <div class="inline-buttons">
            <button ioUndo>Undo</button>
            <button ioRedo>Redo</button>
        </div>
        
        <div class="inline-buttons">
            <button style="background-color: #002a57; width: 130px;" [routerLink]="['/ex2-undo-command']" > Previous Exercise </button>
            <button style="background-color: #002a57; width: 130px;" [routerLink]="['/ex4-img-display']"    >   Next Exercise   </button>
        </div>
    </div>

</div>
