<div class="container" role="main">
    
    <div class="log-container">
        <io-linear-history></io-linear-history>
        <!-- <pre #log></pre> -->
    </div>

    <div class="content-ex2">
        <h1>Text Area</h1>
    
        <h2> 1 </h2> <p>
            In this exercise, you will be using Interacto to create a text area and its corresponding ioTextarea interaction. <br>
            The command will be a command that changes the text of the text area (undoable). <br>
            You will also need to implement an undo and redo functionality so that the user can revert the color change. <br>
            Use Interacto's undoable command functionality to implement this feature. <br>
            If you need help, refer to the following documentation: 
            <a href="https://interacto.github.io/commands#undoable-commands">Undoable Commands</a> .</p>
    
        <h3>Example:</h3>
    
        <textarea [ioTextarea]="binderText" rows="16" cols="90"></textarea>

        <div class="inline-buttons">
            <button ioUndo>Undo</button>
            <button ioRedo>Redo</button>
        </div>
        
        <div class="inline-buttons">
            <button style="background-color: #002a57; width: 130px;" [routerLink]="['/ex2-undo-command']" > Previous Exercise </button>
            <button style="background-color: #002a57; width: 130px;" [routerLink]="['/ex3-text-area']"    >   Next Exercise   </button>
        </div>
    </div>

</div>
