<div class="container" role="main">
    

    <div class="content-ex2">
        <h1>Drag and Drop</h1>
    
        <p>
            The goal of this exercise is to understand how to use the drag and drop (DnD) interaction feature provided by Interacto.<br>

            On the left side of the screen, you will find a collection of small pictures representing different objects that need to be trashed.<br>
            On the right side, there is a bin where the objects should be dropped.<br>
            Use the drag and drop functionality to move the object from its initial position to the bin.<br>
            The "remove object" command will only be executed if the drag and drop action ends with the object placed inside the bin.<br>
            Pay attention to the "canExecute" method, which determines whether the command can be executed based on the successful completion of the drag and drop action onto the bin.<br>
            If you need help, <a href="https://interacto.github.io/interactions#dnd-touch-dnd-draglock"> click here </a> .</p>
    
    
        <h3>Example:</h3>
    
        <div style="text-align: center;">
            <div class="inline-container">
                <div class="image-block" #img_block>
                    <div *ngFor="let picture of images; let i=index">
                        <img #picture src="{{picture}}" alt="{{'image ' + i}}">
                    </div>
                </div>
            </div>
            <div class="inline-container">
                <img #bin style="height: 100px; margin-top: 150px;" src="https://www.vestil.com/images/i1200/TH-64-GRN-FL_A.jpg">
            </div>
        </div>


        <div class="inline-buttons">
            <button style="background-color: #002a57; width: 130px;" [routerLink]="['/ex4-img-display']" > Previous Exercise </button>
            <button style="background-color: #002a57; width: 130px;" [routerLink]="['/ex6-canva-svg']"    >   Next Exercise   </button>
        </div>
    </div>

</div>